<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../repo-mylist.html">

<dom-module id="demo-element">
  <template>
    <style>
      :host {
        --icon-toggle-color: lightgrey;
/*        --icon-toggle-outline-color: black; */
        --icon-toggle-pressed-color: red;
        font-family: sans-serif;
      };
    </style>

    <h3>List Demo</h3>

    <repo-mylist email="sparqlite@email.com"></repo-mylist>

  </template>

  <script>
    class DemoElement extends Polymer.Element {
      static get is() { return "demo-element" }

      _message(fav) {
        if (fav) {
          return "You really like me!";
        }
        else {
          return "Do you like me?";
        }
      }
    }

    customElements.define(DemoElement.is, DemoElement);
  </script>
</dom-module>
